.sub-bar {
  display: flex;
  // justify-content: space-between
  align-items: center;
  width: 6rem;

  .sub-bar-left {
    display: flex;

    .trending {
      border-bottom: 2px solid rgb(52, 58, 64);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: rgb(52, 58, 64);
      width: 7rem;
      height: 3rem;
      span {
        margin-left: 1.25rem;
      }
    }

    .recent {
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(134, 142, 150);
      width: 7rem;
      height: 3rem;
      span {
        margin-left: 1.25rem;
      }
    }

    .trending-order {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      border-radius: 4px;
      width: 6rem;
      color: rgb(52, 58, 64);
      span {
        font-size: 0.875rem;
        margin-right: 1.25rem;
      }
    }

    .order-list {
      display: none;
      background-color: white;
      li {
        width: 6rem;
        height: 3rem;
      }
    }
  }

  .sub-bar-right {
    height: 3rem;
    width: 1rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    .etc {
    }
  }
}
